

GEMINI_API_KEY=your_api_key_here

APP_URL="http://localhost:3000"


REDIS_URL="redis://127.0.0.1:6379"


WORKER_CONCURRENCY=5


MIN_DELAY_BETWEEN_EMAILS_MS=2000


MAX_EMAILS_PER_HOUR_PER_SENDER=20


SLACK_WEBHOOK_URL=""


ETHEREAL_USER=""
ETHEREAL_PASS=""

